# Autenticação e Disparos
# Email Configuration (SMTP)
SMTP_HOST=mail.seudominio.com.br
SMTP_PORT=465
SMTP_USER=briefing@seudominio.com.br
SMTP_PASS=sua_senha_aqui
SMTP_FROM_EMAIL=briefing@seudominio.com.br
SMTP_TO_EMAIL=seu_email_para_receber@gmail.com

# Dica: Copie este arquivo e renomeie-o para ".env.local" para as chaves reais
